.my-feedbacks-wrapper {
  max-width: 1440px;
  width: 100%;
}

.feedbacks-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

app-feedback {
  width: 30%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

svg {
  position: absolute;
  top: 180%;
}