.content {
  display: flex;
  margin-top: 70px;
  gap: 100px;
  
}
:host {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  margin-top: 70px;
  gap: 100px;

  &.reverse {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}

.image-container {
  > img {
    height: 371px;
  }
}

.reverse {
}

.right-site {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 498px;
}

.description-container {
  margin-top: 25px;
}

.button-container {
  display: flex;
  gap: 25px;
  margin-top: 25px;
}

.github {
  font-weight: 500;
}

.livetest {
  font-weight: 500;
  font-size: 18px;
}
