.content {
  max-width: 1440px;
  width: 100%;
  display: flex;
}

:host.reverse .content {
  flex-direction: row-reverse;
  justify-content: flex-end;
  text-align: right;
}

:host.reverse .right-site {
  padding-left: 0;
  padding-right: 3rem;
}

.image-container {
  background: linear-gradient(to bottom);
  width: 50%;

  img {
    width: 100%;
    height: 100%;
  }
}

.right-site {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
  width: 50%;
  padding-left: 3rem;
}

.description-container {
  margin-top: 25px;
}

.button-container {
  display: flex;
  gap: 25px;
  margin-top: 25px;
}

:host.reverse .button-container {
  justify-content: flex-end;
}

.github {
  font-weight: 500;
}

.livetest {
  font-weight: 500;
  font-size: 1.125rem;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(11, 4, 45, 0.22) 49%
  );
  color: white;
  display: flex;
  align-items: center;
  padding: 0 0.625rem;
  font-size: 1rem;
  opacity: 1;
  transition: opacity 0.5s ease;
  &:hover {
    opacity: 0;
  }
}
