<section>
  <div class="content">
    <div class="txt-btn-container">
      <div class="btn-container">
        <button class="btn-1">CONTACT ME</button>
        <div class="imageBox">
          <div class="imageInn">
            <img src="/assets/images/Arrow down.png" alt="Default Image" />
          </div>
          <div class="hoverImg">
            <img src="/assets/images/Vector.png" alt="Profile Image" />
          </div>
        </div>
      </div>
      <div>
        <p style="font-size: 3.313rem">FRONTEND DEVELOPER</p>
        <p style="font-size: 5.063rem; font-weight: 700">Tony Hirschligau</p>
      </div>
    </div>
    <div class="image-container">
      <img src="/assets/images/picture-me.png" alt="Profilbild" />
    </div>
  </div>
</section>
