.content {
  display: flex;
  justify-content: center;
}

.txt-btn-container {
  padding-top: 40px;
  padding-right: 100px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  > button {
    font-size: 1.125;
    padding: 1rem;
  }
}

.btn-container {
  margin-top: 4rem;
  > img {
    height: 50px;
    position: absolute;
    left: 580px;
    top: 200px;
    &:hover {
      color: #02f4bf;
      cursor: pointer;
      border: solid, 1px, #02f4bf;
    }
  }

  > button {
    transform: rotate(270deg);
    transform-origin: bottom;
  }
}

p {
  color: #02f4bf;
}

.image-container {
  display: flex;
  align-items: flex-end;
}

img {
  height: 35.625rem;
//   width: 33.688;
 
}

.image-hover {
  background-image: url("/assets/images/Arrow down.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 70px;
  width: 30px;
  left: 580px;
  top: 200px;
  // border: #02f4bf, solid, 1px;
  padding: 20px;
  position: absolute;
  &:hover {
    background-image: url("/assets/images/Vector.png");
  }
}

.imageBox .hoverImg {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.imageInn:hover {
  > img {
    display: none;
  }
}

.imageBox:hover .hoverImg {
  display: block;
  position: absolute;
  left: 580px;
  top: 200px;
  > img {
    height: 50px;
    padding: 5px;
  }
}

.imageInn {
  > img {
    position: absolute;
    left: 580px;
    top: 200px;
    height: 50px;
    padding: 5px;
  }
}
