<section>
  <div class="">
    <div class="header-container">
      <h2>Contact Me</h2>
      <div>
        <img src="/assets/images/contact-arrow.png" alt="Arrow" />
      </div>
    </div>

    <div class="information-container">
      <span>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat quo
        dolor odio, architecto nulla, non doloremque, accusantium corporis
        voluptate inventore neque quibusdam nemo repellendus? Consectetur atque
        eveniet ducimus soluta deleniti!
      </span>
      <div>
        <div class="email-container">
          <div>
            <img class="icon-email" src="assets/images/icon-email.png" alt="E-Mail" />
            <img class="hover-mail" src="assets/images/hover-mail.png" alt="">
          </div>
          <div class="email-link-container">
               <a href="'mailto:' + email">E-Mail: {{ email }}</a>
          </div>
        </div>
        <div class="tel-container">
          <div>
            <img class="icon-phone" src="/assets/images/icon-phone.png" alt="telefon" />
            <img class="hover-phone" src="/assets/images/hover-phone.png" alt="telefon">
          </div>
          <div class="phone-number-container">
            <a href="tel:+491752361337">Tel: 0175 236 1337</a>
          </div>
        </div>
      </div>
    </div>

    <form action="">
      <div class="form-container">
        <div class="name-mail-container">
          <input id="name" type="text" placeholder="Your Name" required />
          <br />
          <input id="email" type="email" placeholder="Your Email" required />
        </div>
        <br />
        <div>
          <textarea
            name="message"
            id="message"
            placeholder="Your Message"
          ></textarea>
        </div>
      </div>
      <br />
      <div class="policy-container">
        <div class="checkbox-container">
          <input type="checkbox" required [(ngModel)] = "privacyAccepted" name="privacy" />
        </div>
        <div>
          <p>
            I've read the <a href=""> privacy policy</a> and agree to the
            processing of my data as outlined.
          </p>
        </div>
      </div>
      <div class="submit-container" >
        <input type="submit" [disabled]="!privacyAccepted" [class.btn-disabled] = "!privacyAccepted" [class.btn-enabled] = "privacyAccepted" />
      </div>
    </form>

  </div>
</section>
