<section>
  <div class="">
    <div class="header-container">
      <h2>Contact Me</h2>
      <div>
        <img src="/assets/images/contact-arrow.png" alt="Arrow" />
      </div>
    </div>

    <div class="information-container">
      <span>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat quo
        dolor odio, architecto nulla, non doloremque, accusantium corporis
        voluptate inventore neque quibusdam nemo repellendus? Consectetur atque
        eveniet ducimus soluta deleniti!
      </span>
      <div>
        <div class="email-container">
          <div>
            <img
              class="icon-email"
              src="assets/images/icon-email.png"
              alt="E-Mail"
            />
            <img class="hover-mail" src="assets/images/hover-mail.png" alt="" />
          </div>
          <div class="email-link-container">
            <a href="mailto: + email">E-Mail: {{ this.email }}</a>
          </div>
        </div>
        <div class="tel-container">
          <div>
            <img
              class="icon-phone"
              src="/assets/images/icon-phone.png"
              alt="telefon"
            />
            <img
              class="hover-phone"
              src="/assets/images/hover-phone.png"
              alt="telefon"
            />
          </div>
          <div class="phone-number-container">
            <a href="tel:+491752361337">Tel: 0175 236 1337</a>
          </div>
        </div>
      </div>
    </div>

    <form #contactForm="ngForm">
      <div class="form-container">
        <div class="name-mail-container">
          <input
            name="name"
            type="text"
            placeholder="Your Name"
            required
            minlength="3"
            #name="ngModel"
            ngModel
            (focus)="isFocused['name'] = true"
            (blur)="isFocused['name'] = false"
          />
          <span
            *ngIf="name.invalid && name.touched && !isFocused['name']"
            class="invalid-name"
            >Your name is required
          </span>
          <img
            *ngIf="name.invalid && name.touched"
            class="invalid-image"
            src="/assets/images/invalidinput.png"
            alt=""
          />
          <img
            class="valid-image"
            *ngIf="name.valid"
            src="/assets/images/right-input.png"
            alt=""
          />
          <br />
          <div class="mail-container">
            <input
              name="email"
              type="email"
              placeholder="Your Email"
              #email="ngModel"
              required
              email
              ngModel
              (focus)="isFocused['email'] = true"
              (blur)="isFocused['email'] = false"
            />
            <span
              *ngIf="email.invalid && email.touched && !isFocused['email']"
              class="invalid-mail"
              >Your E-Mail is required
            </span>
            <img
              *ngIf="email.invalid && email.touched"
              class="invalid-image"
              src="/assets/images/invalidinput.png"
              alt=""
            />
            <img
              class="valid-image"
              *ngIf="email.valid"
              src="/assets/images/right-input.png"
              alt=""
            />
          </div>
          <br />
        </div>
        <div>
          <textarea
            name="message"
            id="message"
            placeholder="Your Message"
            minlength="10"
            maxlength="500"
            ngModel
            required
            #message="ngModel"
            message
            (focus)="isFocused['message'] = true"
            (blur)="isFocused['message'] = false"
          ></textarea>
          <span
            *ngIf="message.invalid && message.touched && !isFocused['message']"
            class="invalid-message"
            >Please enter message
          </span>
          <img
            *ngIf="message.invalid && message.touched"
            class="invalid-image"
            src="/assets/images/invalidinput.png"
            alt=""
          />
          <img
            class="valid-image"
            *ngIf="message.valid"
            src="/assets/images/right-input.png"
            alt=""
          />
        </div>
      </div>
      <br />
      <div class="policy-container">
        <div class="checkbox-container">
          <input
            type="checkbox"
            required
            [(ngModel)]="privacyAccepted"
            name="privacy"
            ngModel
          />
        </div>
        <div>
          <p>
            I've read the <a href=""> privacy policy</a> and agree to the
            processing of my data as outlined.
          </p>
        </div>
      </div>
      <div class="submit-container">
        <input
          type="submit"
          [disabled]="privacyAccepted"
          [class.btn-disabled]="!privacyAccepted"
          [class.btn-enabled]="privacyAccepted"
        />
      </div>
    </form>
  </div>
</section>
