<section>
  <div class="content">
    <div>
      <img
        style="height: 452px"
        src="/assets/images/Section WhyMe.png"
        alt="Why Me Picture"
      />
    </div>
    <div>
      <div>
        <h2>Why Me</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
          repudiandae aut voluptatibus porro atque rerum iure voluptatem optio
          expedita. Quas expedita nemo odit fuga esse quos, ipsum iusto aliquam
          provident?
        </p>
      </div>
      <div>
        <h2>I am</h2>
        <div>
          <div class="located"></div>
          <div class="remote"></div>
        </div>
      </div>
      <div>
        <button class="btn-2">Let's Talk</button>
      </div>
    </div>
  </div>
</section>
