section {
    max-width: 1440px;
}

.located {
    background-image: url('/assets/images/location1.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 57px;
    width: 235px;
}