<section>
    <div class="content-all">
        <div>
            <img src="/assets/images/picture-me.png" alt="Me">
        </div>
        <div class="content-right-site">
            <div>
                <h2>Why Me</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia maiores repellendus cupiditate a excepturi nobis atque obcaecati. Maxime dolores beatae corrupti praesentium voluptates natus, odit dolorem ab, laboriosam, ipsa libero.</p>
            </div>
        </div>
    </div>
</section>
