<section>
  <div class="content">
    <div>
      <img id="image-me" src="/assets/images/picture-me.png" alt="Me" />
    </div>
    <div class="content-right-site">
      <div>
        <h2>Why Me</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
          maiores repellendus cupiditate a excepturi nobis atque obcaecati.
          Maxime dolores beatae corrupti praesentium voluptates natus, odit
          dolorem ab, laboriosam, ipsa libero.
        </p>
      </div>
      <div class="i-am-container">
        <h2>I am</h2>
        <img class="arrow5" src="/assets/images/Arrow 5.png" alt="">
        <div class="symbol-container">
          <div class="located-container">
            <img src="/assets/images/location1.png" alt="" />
            <img class="ellipse" src="/assets/images/Ellipse20.png" alt="">
            <p>located in Gera</p>
          </div>
          <div class="remote-image-wrapper">
            <img class="image remote-image"  src="/assets/images/remote1.png" />
            <img class="image hover-img" src="/assets/images/remote2.png"  />
          </div>
        </div>
        <div class="btn-container">
          <img class="arrow3" src="/assets/images/contact-arrow.png" alt="">
          <button class="btn-2">Contact Me</button>
        </div>
      </div>
    </div>
  </div>
</section>
