.nav-wrapper {
  height: 100px;
  width: 100vw;
  background: linear-gradient(to bottom, #0b042d 80%, #ffffff00);
  position: fixed;
  z-index: 3;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-around;
  @media (max-width: 890px) {
    padding: 2rem;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 1440px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  > div {
    display: flex;
    max-width: 1440px;
  }
  > .navigation {
    gap: 3.125rem;
    align-items: center;
    width: 100%;
  }
  .translation {
    > li {
      display: flex;
      gap: 0.625rem;
      > a {
        transition: color 0.2s;

        > a:hover {
          opacity: 1;
        }
      }
    }
    @media (max-width: 890px) {
      display: none;
    }
  }
  @media (max-width: 890px) {
    .navigation li:not(.logo) {
      display: none;
    }
    .translation {
      display: none;
    }
    .burger-menu-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      svg {
        width: 2.5rem;
        height: 2.5rem;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

li {
  list-style: none;
  color: var(--primary-color2);
  font-size: 1.5rem;
  > a:hover {
    color: #02f4bf;
  }
}

a {
  text-decoration: none;
  color: var(--primary-color2);
  font-size: 1.5rem;
  font-weight: 500;
  &:hover {
    cursor: pointer;
  }
}

#logo {
  font-family: "Handjet";
  font-size: 3rem;
}

.mobile-nav {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: linear-gradient(180deg, #0b042d 11%, #1d0a79 49%, #13074e 71%);
  max-width: 390px;
  width: 100%;
  height: 437px;
  position: absolute;
  top: 0;
  right: 0;
  .close-svg-container {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    svg {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.burger-menu-container {
  display: none;
  @media (max-width: 890px) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    svg {
      width: 2.5rem;
      height: 2.5rem;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
