<div class="nav-wrapper">
  <nav>
    <div class="navigation">
      <li class="logo"><a (click)="setAnchorTo('home')" id="logo">&lt;TH&gt;</a></li>
      <li><a (click)="setAnchorTo('why-me')">Why me</a></li>
      <li><a (click)="setAnchorTo('my-skills')">Skills</a></li>
      <li><a (click)="setAnchorTo('my-projects')">Project</a></li>
      <li><a (click)="setAnchorTo('contact')">Contact</a></li>
    </div>
    <div class="translation">
      <li><a href="">DE</a>|<a href="">EN</a></li>
    </div>
  </nav>
  <div class="burger-menu-container" (click)="openMobileMenu()">
    <svg
      width="32"
      height="31"
      viewBox="0 0 32 31"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M1 1.5H31"
        stroke="#FF5959"
        stroke-width="2"
        stroke-linecap="round"
      />
      <path
        d="M1 15.5H31"
        stroke="#FF5959"
        stroke-width="2"
        stroke-linecap="round"
      />
      <path
        d="M1 29.5H31"
        stroke="#FF5959"
        stroke-width="2"
        stroke-linecap="round"
      />
    </svg>
  </div>
  @if (isMobileOpen) {

    <div class="mobile-nav" (click)="$event.stopPropagation()">
      <div class="close-svg-container">
        <svg
          width="35"
          height="32"
          viewBox="0 0 35 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          (click)="closeMobileMenu()"
        >
          <path
            d="M6.99997 5.00024L27.6506 26.7615"
            stroke="#E15544"
            stroke-width="2"
            stroke-linecap="round"
          />
          <path
            d="M7 27L27.46 5.05939"
            stroke="#E15544"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
      </div>
      <li><a (click)="setAnchorTo('why-me')">Why me</a></li>
      <li><a (click)="setAnchorTo('my-skills')">Skills</a></li>
      <li><a (click)="setAnchorTo('my-projects')">Project</a></li>
      <li><a (click)="setAnchorTo('contact')">Contact</a></li>
      <div class="translation">
        <li><a href="">DE</a>|<a href="">EN</a></li>
      </div>
    </div>


  }
</div>
