<div class="privacy-policy-wrapper">
  <h1>Privacy Policy</h1>
<br>
  <h2>1. Data Protection at a Glance</h2>
  <h3>General Information</h3><br>
  <p>
    The following notes provide a simple overview of what happens to your
    personal data when you visit this website. Personal data is any data with
    which you could be personally identified. Detailed information on the
    subject of data protection can be found in our privacy policy listed below
    this text.
  </p><br>

  <h3>Data Collection on this Website</h3>
  <h4>Who is responsible for data collection on this website?</h4><br>
  <p>
    Data processing on this website is carried out by the website operator. You
    can find their contact details in the section "Notice concerning the party
    responsible for this website" in this privacy policy.
  </p><br>

  <h4>How do we collect your data?</h4><br>
  <p>
    Some data are collected when you provide it to us. This could, for example,
    be data you enter on a contact form.
  </p><br>
  <p>
    Other data are collected automatically by our IT systems when you visit the
    website. These data are primarily technical data such as the browser and
    operating system you are using or when you accessed the page. These data are
    collected automatically as soon as you enter our website.
  </p><br>

  <h4>What do we use your data for?</h4><br>
  <p>
    Part of the data is collected to ensure the proper functioning of the
    website. Other data can be used to analyze how visitors use the site.
  </p><br>

  <h4>What rights do you have regarding your data?</h4><br>
  <p>
    You always have the right to request information about your stored data, its
    origin, its recipients, and the purpose of its collection at no charge. You
    also have the right to request that it be corrected, blocked, or deleted.
  </p><br>
  <p>
    You can contact us at any time using the address given in the legal notice
    if you have further questions about the issue of privacy and data
    protection.
  </p><br>

  <h2>2. Hosting</h2><br>
  <p>This website is hosted by an external service provider (host).</p><br>
  <h3>External Hosting</h3><br>
  <p>
    The personal data collected on this website are stored on the servers of the
    host. These may include IP addresses, contact requests, metadata and
    communication data, contract data, contact details, names, web page
    accesses, and other data generated through a web site. We use the following
    host:
    <a
      href="https://all-inkl.com/"
      target="_blank"
      rel="noopener noreferrer"
    >
      https://all-inkl.com/ </a
    >.
  </p>
  <p>
    The host is used for the purpose of fulfilling the contract with our
    potential and existing customers and in the interest of secure, fast, and
    efficient provision of our online service by a professional provider.
  </p><br>

  <h4>Data Processing Agreement</h4><br>
  <p>
    Our host will only process your data to the extent necessary to fulfil its
    performance obligations and to follow our instructions with respect to such
    data.
  </p><br>

  <h2>3. General Information and Mandatory Information</h2>
  <h3>Data Protection</h3><br>
  <p>
    The operators of this website take the protection of your personal data very
    seriously. We treat your personal data as confidential and in accordance
    with the statutory data protection regulations and this privacy policy.
  </p>
  <p>
    If you use this website, various pieces of personal data will be collected.
    Personal data is any data with which you could be personally identified.
    This privacy policy explains what information we collect and what we use it
    for.
  </p>
  <p>
    Please note that data transmitted via the internet (e.g. via email
    communication) may be subject to security breaches. Complete protection of
    your data from third-party access is not possible.
  </p><br>

  <h3>Notice concerning the party responsible for this website</h3><br>
  <p>The party responsible for processing data on this website is:</p>
  <p>
    Tony Hirschligau<br />
    Robert-Koch-Straße 6, 07546 Gera, Germany
  </p>
  <p>
    Phone: 01752361337<br />
    Email: tony.hirschligau&#64;googlemail.com
  </p><br>
  <p>
    The data controller is the natural or legal person who alone or jointly with
    others determines the purposes and means of processing personal data (e.g.
    names, email addresses, etc.).
  </p><br>

  <h3>Storage Duration</h3><br>
  <p>
    Unless a more specific storage period has been specified in this privacy
    policy, your personal data will remain with us until the purpose for which
    it was collected no longer applies. If you assert a justified request for
    deletion or revoke your consent to data processing, your data will be
    deleted, unless we have other legally permissible reasons for storing your
    personal data.
  </p><br>

  <p>
    Source:
    <a href="https://www.e-recht24.de">https://www.e-recht24.de</a>
  </p><br>
</div>
<div class="button-container">
    <button class="btn-2" (click)="goBack()">Back</button>
</div>
