.privacy-policy-wrapper {
    max-width: 1440px;
    width: 100%;
}

li {
    color: var(--primary-color1);
}

h3 {
    font-size: clamp(1.5rem, 2vw, 3rem);
}

h2 {
    font-size: clamp(1.5rem, 2vw, 4rem);
    color: var(--primary-color2);
}

a {
    color: var(--primary-color2);
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}