<section id="my-skills">
  <div class="content">
    <h2>My Skills</h2>
    <div class="my-skills">
      <div class="display-flex">
        <img src="/assets/images/angular.png" alt="Angular" />
        <p>Angular</p>
      </div>
      <div class="display-flex">
        <img src="/assets/images/typescript.png" alt="TypeScript" />
        <p>TypeScript</p>
      </div>
      <div class="display-flex">
        <img src="/assets/images/javascript.png" alt="JavaScript" />
        <p>JavaScript</p>
      </div>
      <div class="display-flex">
        <img src="/assets/images/html.png" alt="HTML" />
        <p>HTML</p>
      </div>
      <div class="display-flex">
        <img src="/assets/images/css.png" alt="CSS" />
        <p>CSS</p>
      </div>
      <div class="display-flex">
        <img src="/assets/images/api.png" alt="Rest-API" />
        <p>Rest-API</p>
      </div>
      <div class="display-flex">
        <img src="/assets/images/firebase.svg" alt="Firebase" />
        <p>Firebase</p>
      </div>
      <div class="display-flex">
        <img src="/assets/images/git.png" alt="GIT" />
        <p>GIT</p>
      </div>
      <div class="display-flex">
        <img src="/assets/images/scrum.png" alt="Scrum" />
        <p>Scrum</p>
      </div>
      <div class="display-flex">
        <img src="/assets/images/materialdesign.png" alt="Material Design" />
        <p>Material Design</p>
      </div>
      <div class="challengeme-container">
        <div class="display-flex challengeme">
          <img src="/assets/images/challengeme.png" alt="Challenge Me" />
          <p>Challenge Me</p>
        </div>
        <span class="hidden-text"
          >I'm open to learn new things. Most intrested in Back-End
        </span>
      </div>
    </div>
  </div>
</section>
