<section id="my-skills">
  <div class="content">
    <h2>{{ "my-skills.header" | translate }}</h2>
    <div class="skills-container">
      <div class="display-flex">
        <figure>
          <img src="/assets/images/angular.png" alt="Angular" />
          <figcaption>Angular</figcaption>
        </figure>
      </div>
      <div class="display-flex">
        <figure>
          <img src="/assets/images/typescript.png" alt="TypeScript" />
          <figcaption>TypeScript</figcaption>
        </figure>
      </div>
      <div class="display-flex">
        <figure>
          <img src="/assets/images/javascript.png" alt="JavaScript" />
          <figcaption>JavaScript</figcaption>
        </figure>
      </div>
      <div class="display-flex">
        <figure>
          <img src="/assets/images/html.png" alt="HTML" />
          <figcaption>HTML</figcaption>
        </figure>
      </div>
      <div class="display-flex">
        <figure>
          <img src="/assets/images/css.png" alt="CSS" />
          <figcaption>CSS</figcaption>
        </figure>
      </div>
      <div class="display-flex">
        <figure>
          <img src="/assets/images/api.png" alt="Rest-API" />
          <figcaption>Rest-API</figcaption>
        </figure>
      </div>
      <div class="display-flex">
        <figure>
          <img src="/assets/images/firebase.svg" alt="Firebase" />
          <figcaption>Firebase</figcaption>
        </figure>
      </div>
      <div class="display-flex">
        <figure>
          <img src="/assets/images/git.png" alt="GIT" />
          <figcaption>GIT</figcaption>
        </figure>
      </div>
      <div class="display-flex">
        <figure>
          <img src="/assets/images/scrum.png" alt="Scrum" />
          <figcaption>Scrum</figcaption>
        </figure>
      </div>
      <div class="display-flex">
        <figure>
          <img src="/assets/images/materialdesign.png" alt="Material Design" />
          <figcaption>Material Design</figcaption>
        </figure>
      </div>
      <div class="challengeme-container">
        <figure>
          <img src="/assets/images/challengeme.png" alt="Challenge Me" />
          <figcaption class="challengeme-text">
            Challenge Me
          </figcaption>
        </figure>
      </div>
      <span class="hidden-text">{{ "my-skills.hidden-text" | translate }}</span>
      <span class="mobile-text-challengeme">{{
        "my-skills.challenge-me" | translate
      }}</span>
    </div>
    <div class="mobile-challengeme-container">
      <img src="/assets/images/mobile-arrow-myskills.svg" alt="" />
      <span class="hidden-text-mobile">{{
        "my-skills.hidden-text" | translate
      }}</span>
    </div>
  </div>
</section>
