* {
  padding: 0;
  margin: 0;
  position: relative;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Robotomono";
  max-width: 100%;
}

html {
  overflow-x: hidden;
  max-width: 100vw;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: min(6rem, 5%);
  padding-right: min(6rem, 5%);
  background: linear-gradient(180deg, #0b042d 11%, #1d0a79 49%, #13074e 71%);
  margin: 0;
  overflow-x: hidden;
  max-width: 100vw;
}

section,
div,
main,
article,
aside,
header,
footer,
nav {
  max-width: 100%;
  overflow-wrap: break-word;
}

@font-face {
  font-family: Handjet;
  src: url("../public/assets/fonts/Handjet-VariableFont_ELGR\,ELSH\,wght.ttf");
}

@font-face {
  font-family: Robotomono;
  src: url("../public/assets/fonts/RobotoMono-VariableFont_wght.ttf");
}

.btn-1 {
  border: 1px, solid, #02f4bf;
  color: #e15544;
  background: transparent;
  font-size: 1.125rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  &:hover {
    color: #02f4bf;
    transition: 0.5s;
  }
}

.btn-2 {
  background-color: #02f4bf;
  color: #0b042d;
  padding-top: 0.938rem;
  padding-bottom: 0.938rem;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  transition: color 0.3s ease;
  border: none;
  &:hover {
    color: #e15544;
    transition: color 0.5s ease;
  }
}

h1 {
  color: #02f4bf;
  font-size: clamp(1.5rem, 5vw, 5rem);
}

h2 {
  color: #e15544;
  font-weight: 500;
  font-size: clamp(1.8rem, 8vw, 3rem);
}

h3 {
  color: #02f4bf;
  font-weight: 700;
  font-size: 3rem;
}

h4 {
  color: #e15544;
  font-size: 1.5rem;
  font-size: clamp(1rem, 8vw, 1.5rem);
  font-weight: 700;
}

p {
  color: #02f4bf;
  font-weight: 400;
}

.content {
  max-width: 1440px;
  width: 100%;
}

.svg:hover .svg-orange {
  fill: #02f4bf;
}

a {
  color:#e15544;
  cursor: pointer;
}
