<div class="legal-notice-wrapper">
  <h1>{{ "legal-notice.title" | translate }}</h1>
  <br />

  <h2>{{ "legal-notice.info-according-tmg" | translate }}</h2>
  <br />
  <p>
    Tony Hirschligau<br />
    Robert-Koch-Straße 6<br />
    07546 Gera<br />
    Deutschland
  </p>
  <br />

  <h3>{{ "legal-notice.contact" | translate }}</h3>
  <br />
  <p>
    {{ "legal-notice.phone" | translate }}<br />
    {{ "legal-notice.email" | translate }}
    <a href="mailto:tony.hirschligau@gmail.com">
      tony.hirschligau&#64;googlemail.com</a
    >
  </p>
  <br />

  <h2>{{ "legal-notice.responsible-content" | translate }}</h2>
  <br />
  <p>
    Tony Hirschligau<br />
    Robert-Koch-Straße 6<br />
    07546 Gera
  </p>
  <br />

  <h3>{{ "legal-notice.liability-content-title" | translate }}</h3>
  <br />
  <p>
    {{ "legal-notice.liability-content-text" | translate }}
  </p>
  <br />

  <h3>{{ "legal-notice.liability-links-title" | translate }}</h3>
  <br />
  <p>
    {{ "legal-notice.liability-links-text" | translate }}
  </p>
  <br />

  <h3>{{ "legal-notice.copyright-title" | translate }}</h3>
  <br />
  <p>
    {{ "legal-notice.copyright-text" | translate }}
  </p>
  <br />
</div>
<div class="button-container">
  <button class="btn-2" (click)="goBack()">Zurück</button>
</div>
